node_modules/
.env
.DS_Store
uploads/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/
build/
.pnp
.pnp.js
coverage/
.vercel
*.pem
*.key
deploy.js
# keep .env.example committed
!.env.example